body{
    background-color: #e7e7e7;
    margin: 1em;
    font-family: poppins;
}



input{
    margin-bottom: -10em;
    background: #ffffff;
    border: 1px solid gray;
    width: 19%;
    height: 1.9em;
}


input ,textarea{
    border-radius: 1em;
    padding: 0.5em;
    width: 23em;
}

.box{
    background: rgb(255, 255, 255);
    padding: 5em;
    width: 17em;
    margin-left: 28em;
    border-radius: 1em;
    height: 27.5em;
}
.pass{
    margin-top: 1em;
}

.p{
    margin-left: -2em;
}

.five{
    margin-left: -1.6em;
}

.pro{
    height: 6em;
    margin-left: 7.2em;
    border-radius: 1em;
    margin-top: -3em;
}

.face{
    margin-left: 1em;
}

.gf{
    margin-top: 1.9em;
}

.login{
    text-decoration: none;
    color: white;
    background: rgb(255, 52, 160);
    padding: 0.7em 0.7em;
    font-size: 1.1em;
    margin-left: 1em;
    border-radius: 90em;
}

.ls{
    margin-left: 6.5em;
}



input{
    font-size: 0.8.9em;
}


